.trail-reviews{
    width: 94%;
}

.review-header{
    margin-top: 18px;
    padding-bottom: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid rgb(231, 231, 231);
}

.review-header-rating{
    font-size: 52px;
    margin-bottom: 5px;
    color: rgb(70, 70, 70);
}

.review-header-length{
    margin-top: 5px;
    font-size: 14px;
    color: rgb(88, 88, 88);
}

.review-create{
    border: 0;
    padding: 0;
    width: 190px;
    height: 40px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: rgb(39, 124, 39);
}

.review-create:hover{
    background-color: rgb(82, 143, 70);
    cursor: pointer;
}

.review{
    margin-top: 18px;
    padding-bottom: 18px;
    border-bottom: 1px solid rgb(231, 231, 231);
}

.review-top{
    display: flex;
    flex-direction: row;
}

.review-icon{
    height: 60px;
    width: 60px;
}

.review-info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 10px;
}

.review-name{
    margin-top: 5px;
    font-size: 14px;
    font-weight: 700;
    color: rgb(56, 55, 55);
}

.review-info-bot{
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.review-date{
    margin-left: 10px;
    font-size: 14px;
    color: rgb(117, 117, 117);
}

.review-body{
    margin-top: 5px;
    font-size: 14px;
    color: rgb(88, 88, 88);
    letter-spacing: 0.5px;
    line-height: 25px;
    font-weight: 100;
}

.review-buttons{
    display: flex;
    flex-direction: row;
    font-size: 14px;
    color: rgb(82, 143, 70);
    letter-spacing: 0.5px;
    line-height: 25px;
    font-weight: 100;
}

.review-button:hover{
    cursor: pointer;
}

.review-split{
    margin-left: 8px;
    margin-right: 8px;
    font-size: 20px;
}